/*
Theme Name: ChromeNews Araba.top
Template: chromenews
Description: Child theme for ChromeNews customized for Araba.top with breadcrumb fixes for Spanish locale
Version: 1.0
Author: Araba.top
*/

@import url("../chromenews/style.css");

/* Custom styles for Araba.top can be added here */
